Repository meinzeug/autodevai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @autodev-ai/core-team, @autodev-ai/maintainers, @autodev-ai/devops-team, @autodev-ai/frontend-team, @autodev-ai/design-team, @autodev-ai/rust-team, @autodev-ai/backend-team, @autodev-ai/docs-team, @autodev-ai/security-team, @autodev-ai/qa-team, @autodev-ai/ai-team

.github/CODEOWNERS:

# Global owners
* @autodev-ai/core-team @autodev-ai/maintainers

# GitHub workflows and CI/CD
/.github/ @autodev-ai/devops-team @autodev-ai/maintainers

# Frontend code
/src/ @autodev-ai/frontend-team @autodev-ai/core-team
/public/ @autodev-ai/frontend-team
*.tsx @autodev-ai/frontend-team
*.ts @autodev-ai/frontend-team @autodev-ai/core-team
*.css @autodev-ai/frontend-team @autodev-ai/design-team

# Backend/Rust code
/src-tauri/ @autodev-ai/rust-team @autodev-ai/backend-team
*.rs @autodev-ai/rust-team @autodev-ai/backend-team
Cargo.toml @autodev-ai/rust-team @autodev-ai/backend-team
Cargo.lock @autodev-ai/rust-team @autodev-ai/backend-team

# Build and configuration files
package.json @autodev-ai/core-team @autodev-ai/maintainers
package-lock.json @autodev-ai/core-team @autodev-ai/maintainers
tsconfig.json @autodev-ai/frontend-team @autodev-ai/core-team
vite.config.ts @autodev-ai/frontend-team @autodev-ai/core-team
tailwind.config.js @autodev-ai/frontend-team @autodev-ai/design-team
postcss.config.js @autodev-ai/frontend-team

# Docker and deployment
/docker/ @autodev-ai/devops-team @autodev-ai/maintainers
/k8s/ @autodev-ai/devops-team @autodev-ai/maintainers
Dockerfile @autodev-ai/devops-team
docker-compose*.yml @autodev-ai/devops-team

# Documentation
*.md @autodev-ai/docs-team @autodev-ai/maintainers
/docs/ @autodev-ai/docs-team

# Security and compliance
SECURITY.md @autodev-ai/security-team @autodev-ai/maintainers
.github/dependabot.yml @autodev-ai/security-team @autodev-ai/devops-team
.github/workflows/security-scan.yml @autodev-ai/security-team @autodev-ai/devops-team

# Testing
/tests/ @autodev-ai/qa-team @autodev-ai/core-team
*.test.* @autodev-ai/qa-team @autodev-ai/core-team
*.spec.* @autodev-ai/qa-team @autodev-ai/core-team
playwright.config.ts @autodev-ai/qa-team @autodev-ai/frontend-team

# Claude-Flow integration
/.claude-flow/ @autodev-ai/ai-team @autodev-ai/core-team
starthive.sh @autodev-ai/ai-team @autodev-ai/devops-team

# Environment and secrets
.env.example @autodev-ai/devops-team @autodev-ai/security-team

fix: resolve CI pipeline issues
  .github/workflows/ci.yml
  package-lock.json
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers, @autodev-ai/core-team

feat: Complete Phase 3.3 - Tauri Window Configuration (Steps 166-175)
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app/mod.rs
  src-tauri/src/app/setup.rs
  src-tauri/src/app/updater.rs
  src-tauri/src/dev_window.rs
  src-tauri/src/events.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src-tauri/src/security/ipc_security.rs
  src-tauri/src/security/mod.rs
  src-tauri/src/settings/manager.rs
  src-tauri/src/settings/mod.rs
  src-tauri/src/tray.rs
Owners: @autodev-ai/core-team, @autodev-ai/maintainers, @autodev-ai/rust-team, @autodev-ai/backend-team

docs: Update changelog for v1.1.0 - Phase 3.3 completion
  docs/changelog.md
  src/App.tsx
  src/components/OrchestrationPanel.tsx
  src/components/ProgressTracker.tsx
  src/services/claude-flow.ts
  src/services/codex.ts
  src/services/openrouter.ts
Owners: @autodev-ai/docs-team, @autodev-ai/frontend-team, @autodev-ai/core-team

fix: resolve all GitHub workflow errors and dependencies
  .eslintrc.cjs
  .eslintrc.json
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/markdown-link-check.json
  .github/workflows/build-tauri.yml
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/test-pipeline.yml
  .huskyrc.json
  .mcp.json
  .prettierrc.json
  CLAUDE.md
  claude-flow
  claude-flow.config.json
  code.md
  commitlint.config.js
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/types/tauri.d.ts
  tests/security/compliance-monitoring.test.js
  tests/security/container-security.test.js
  vite.config.ts
Owners: @autodev-ai/core-team, @autodev-ai/maintainers, @autodev-ai/devops-team, @autodev-ai/security-team, @autodev-ai/docs-team, @autodev-ai/frontend-team, @autodev-ai/qa-team

fix: update all workflows for Node.js 22 and npm install
  .github/workflows/build-tauri.yml
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/test-pipeline.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers, @autodev-ai/security-team

feat: add auto issue creation on CI failures & Linux-only workflows
  .github/actions/create-failure-issue/action.yml
  .github/workflows/build-tauri.yml
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/issue-on-failure.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/test-pipeline.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers, @autodev-ai/security-team

fix: resolve GitHub Actions syntax error in pr-check.yml
  .github/workflows/pr-check.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

fix: resolve JavaScript parsing error in pr-check workflow
  .github/workflows/pr-check.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

fix: completely resolve JavaScript syntax errors in pr-check workflow
  .github/workflows/pr-check.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

fix: remove invalid assignees and labels from dependabot config
  .github/dependabot.yml
Owners: @autodev-ai/security-team, @autodev-ai/devops-team

feat: radical simplification of CI/CD workflows
  .github/dependabot.yml
  .github/workflows/build-tauri.yml
  .github/workflows/build.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/issue-on-failure.yml
  .github/workflows/main.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/test-pipeline.yml
  docs/github-workflows-analysis.md
Owners: @autodev-ai/security-team, @autodev-ai/devops-team, @autodev-ai/maintainers, @autodev-ai/docs-team

🔒 Security: Comprehensive security vulnerability fixes
  .github/workflows/issue-on-failure.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  code_github.md
  deployment/docker/docker-compose.prod.yml
  docker/docker-compose.prod.yml
  docker/nginx.conf
  docs/security-audit-results.md
  infrastructure/docker/docker-compose.yml
  infrastructure/kubernetes/autodevai-gui.yaml
  infrastructure/kubernetes/monitoring.yaml
  infrastructure/kubernetes/nginx.yaml
  infrastructure/kubernetes/redis.yaml
  infrastructure/kubernetes/sandbox-manager.yaml
  infrastructure/nginx/nginx.conf
  infrastructure/security-compliance-report.txt
  infrastructure/terraform/additional-services.tf
  infrastructure/terraform/eks.tf
  infrastructure/terraform/main.tf
  infrastructure/terraform/rds.tf
  package-lock.json
  package.json
  scripts/delete_all_workflows.sh
  scripts/delete_workflows_simple.sh
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers, @autodev-ai/docs-team, @autodev-ai/core-team

📝 Security: Complete security documentation and status reports
  CHANGELOG.md
  docs/final-security-status.md
Owners: @autodev-ai/docs-team, @autodev-ai/maintainers

🔧 refactor: Optimierte GitHub-First Security Prompts
  code_github_generic.md
Owners: @autodev-ai/docs-team, @autodev-ai/maintainers

fix: Update actions/cache to v4 in build-automation workflow
  .github/workflows/build-automation.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

fix: Update actions/cache to v4 in main.yml workflow
  .github/workflows/main.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

fix: Update all actions/cache to v4.2.4 specific version
  .github/workflows/build-automation.yml
  .github/workflows/main.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

fix: Force update cache action to v4 tag with comments
  .github/workflows/build-automation.yml
  .github/workflows/main.yml
  docs/MENU_IMPLEMENTATION_SUMMARY.md
  docs/MENU_SYSTEM.md
  docs/SECURITY_IMPLEMENTATION.md
  docs/SYSTEM_TRAY_IMPLEMENTATION.md
  docs/UPDATE_SYSTEM.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/linux-schema.json
  src-tauri/src/app/setup.rs
  src-tauri/src/app/updater.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src-tauri/src/security/audit_logger.rs
  src-tauri/src/security/command_validator.rs
  src-tauri/src/security/input_sanitizer.rs
  src-tauri/src/security/ipc_security.rs
  src-tauri/src/security/mod.rs
  src-tauri/src/security/rate_limiter.rs
  src-tauri/src/security/session_manager.rs
  src-tauri/src/tests/menu_integration_tests.rs
  src-tauri/src/tests/mod.rs
  src-tauri/src/tests/security_integration_test.rs
  src-tauri/src/tests/tray_integration_tests.rs
  src-tauri/src/tests/updater_tests.rs
  src-tauri/src/tests/window_state_integration_tests.rs
  src-tauri/src/tray.rs
  src-tauri/src/window_state.rs
  src-tauri/tests/integration.rs
  src/App.tsx
  src/components/UpdateManager.tsx
  src/services/update-notifications.ts
  src/utils/menu-integration.ts
  tests/menu_test.rs
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers, @autodev-ai/docs-team, @autodev-ai/rust-team, @autodev-ai/backend-team, @autodev-ai/frontend-team, @autodev-ai/core-team, @autodev-ai/qa-team

test: Add workflow trigger test script
  scripts/test_workflow_trigger.py
Owners: @autodev-ai/core-team, @autodev-ai/maintainers

✨ feat: Complete Tauri Desktop Application Implementation
  docs/SECURITY_IMPLEMENTATION_SUMMARY.md
  docs/WINDOW_STATE_IMPLEMENTATION.md
  src-tauri/src/app/setup.rs
  src-tauri/src/main.rs
  src-tauri/src/security/enhanced_ipc_security.rs
  src-tauri/src/security/ipc_security_old.rs
  src-tauri/src/security/mod.rs
  src-tauri/src/tests/cross_platform_tests.rs
  src-tauri/src/tests/e2e_workflow_tests.rs
  src-tauri/src/tests/ipc_security_integration_tests.rs
  src-tauri/src/tests/mod.rs
  src-tauri/src/tests/performance_stress_tests.rs
  src-tauri/src/tests/updater_integration_tests.rs
  tests/security_test.rs
Owners: @autodev-ai/docs-team, @autodev-ai/rust-team, @autodev-ai/backend-team, @autodev-ai/qa-team, @autodev-ai/core-team

fix: Resolve YAML syntax error in release.yml
  .github/workflows/release.yml
Owners: @autodev-ai/devops-team, @autodev-ai/maintainers

📝 docs: Update GitHub workflow to prioritize issue resolution
  code_github.md
  docs/HIVE_MIND_EXECUTION_REPORT.md
Owners: @autodev-ai/docs-team, @autodev-ai/maintainers
